<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/base.html" %} <!-- base.html模板继承自bootstrap/base.html -->
{% block title %}登陆{% endblock %}
{% block content %}

    <div class="container" >
        <div class="col-lg-4 col-lg-offset-4" >
                <form method="post">
                <h2>登陆</h2>
                {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class="form-control") }}
                   </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                       {{ form.submit(class="btn btn-primary btn-block")}}
                    </div>

                    <div class="form-group">
                        <button class="btn  btn-block">
                            <a href="/reg">注册</a>
                        </button>
                    </div>
                    <div class="form-group alert-warning" >
                    {% for message in get_flashed_messages() %}
                        {{ message }}
                    {% endfor %}<br>
                    </div>
                </form>

        </div>
    </div>

{% endblock %}
</html>